.button_export, .button_import, #notas, #carregaAula, .button_aula{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 3px;
    font-family: Arial, Helvetica, sans-serif;

}

.button_export, #carregaNotas, #carregaAula{
    position: fixed;
	right: 10px;
	top: 10px;
}

.button_aula{
    position: fixed;
	right: 450px;
	top: 10px;
}

